
/* Main Page */
.user-cards-grid{
    color: white;
    font-size: 2.5vh;
    text-shadow: 1px 1px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    text-align: center;
}
.main-title{
    border: 3px solid forestgreen;
    border-radius: 25px;
    font-size: 3vh;
    text-shadow: 1px 1px green;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgba(255,255,255, 0.3);
}
/* List Page */
.gift-item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    align-items: center;
} 

.gift-item-card-unpurchased{
    grid-column: 1 / span 7;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid black;
}
.gift-item-card-unpurchased > p {
    margin: 0;
}
.gift-item-card-purchased{
    grid-column: 1 / span 7;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid black;
    background-color: gray;
}
.gift-item-card-purchased > p {
    margin: 0;
}
.c1{
    margin-left: 10px !important;
}

.link {
    color: white;
    text-decoration: none;
}